/* === CTA SECTION === */
.contact-section{
  padding: 100px 60px;
}
.about-cta {
  text-align: center;
  margin-top: 80px;
}

.about-cta h2 {
  color: #64dcff;
  font-size: 3rem;
  font-weight:bold;
  margin-bottom: 10px;
}

.about-cta p {
  color: #ffff;
  font-size: 1rem;
  margin-bottom: 25px;
}

.cta-btn {
 padding: 14px 32px;
  font-size: 1rem;
  font-weight: 600;
  color: #0a1c27;
  background: linear-gradient(90deg, #59DCFF, #00a0ca);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
  transition: all 0.3s ease;
}

.cta-btn:hover {
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.8);
}
@media (max-width: 480px) {
  .about-cta h2{
    font-size: 1.3srem;
  }
}