.footer-section {
  background: #ffffff;
  color: #255e7e;
  padding: 40px 80px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Top row: logo + links + socials */
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.footer-top .logo img {
  height: 100px;
  
}

.footer-links {
  display: flex;
  gap: 30px;
}

.footer-links a {
  text-decoration: none;
  color: #255e7e;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #00ffff;
}

/* Social icons */
.footer-socials {
  display: flex;
  gap: 15px;
}

.footer-socials a {
  color: #255e7e;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.footer-socials a:hover {
  color: #00ffff;
}

/* Bottom row: copyright centered */
.footer-bottom {
  text-align: center;
  font-size: 0.9rem;
  color: #555;
}

/* Responsive: tablets and mobile */
@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
  }
  .footer-top .logo img{
    align-items: center;
     justify-content: center;
  }

  .footer-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    font-size: 1rem;
  }

  .footer-socials {
    justify-content: center;
  }
  .footer-bottom {
  text-align: center;
  font-size: 0.6rem;
  color: #555;
}

}
